$bandidas-black-1:rgb(7, 7, 7);;

$bandida-golden-1: #FFDF00;
$bandida-golden-2: #FFCC00;
$bandida-golden-3: #ECBD00;
$bandida-golden-4: #CC9900;
$bandida-golden-5: #B8860B;

$bandida-golden-6: #e2c479;
$bandida-golden-7: #debd68;
$bandida-golden-8: #dbb658;
$bandida-golden-9: #c5a34f;
$bandida-golden-0: #af9146;


