@import '../../styles/mixins.scss';

$card-height-l:500px;
$item-animation-duration:160s;
$carrusel-item-amount:8;

.portfolio{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $bandidas-black-1;
}

.app-link-container{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 40px;
}

.carrusel{
    height: 50vh;
    max-height: 800px;
    padding-top: 40px;
    overflow-x: hidden;
    position: relative;
    width: 90%;
    margin-inline: auto;
    position: relative;
    margin-top: 5rem;

    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );

    &-item{
        width: 50%;
        height: 90%;
        position: absolute;
        left: max(calc(300px * -8), 100%);
        animation-name: moveLeft;
        animation-duration: $item-animation-duration;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        img{
            object-fit: cover;
            height: 130%;
            filter: brightness(0.9) contrast(1.1) grayscale(75%);

            @media (min-width: 400px){
                width: 100%;
            }
        }

        @media (max-width: 400px){
            width: 45%;
        }
    } 

    .item1{
        animation-delay: calc($item-animation-duration / $carrusel-item-amount * ($carrusel-item-amount - 1) * -1);
    }
    .item2{
        animation-delay: calc($item-animation-duration / $carrusel-item-amount * ($carrusel-item-amount - 2) * -1);
    }
    .item3{
        animation-delay: calc($item-animation-duration / $carrusel-item-amount * ($carrusel-item-amount - 3) * -1);
    }
    .item4{
        animation-delay: calc($item-animation-duration / $carrusel-item-amount * ($carrusel-item-amount - 4) * -1);
    }
    .item5{
        animation-delay: calc($item-animation-duration / $carrusel-item-amount * ($carrusel-item-amount - 5) * -1);
    }
    .item6{
        animation-delay: calc($item-animation-duration / $carrusel-item-amount * ($carrusel-item-amount - 6) * -1);
    }
    .item7{
        animation-delay: calc($item-animation-duration / $carrusel-item-amount * ($carrusel-item-amount - 7) * -1);
    }
    .item8{
        animation-delay: calc($item-animation-duration / $carrusel-item-amount * ($carrusel-item-amount - 8) * -1);
    }
}


@keyframes moveLeft {
    100% {
      transform: translateX(calc(-100vw * 4));
    }
  }


.my-style{
    text-align: center;
    line-height: 2;
    padding: 20px 5%;
}