.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: xx-large;
    height: 50px;
    background-color: rgb(7, 7, 7);
    width: 100%;
    // top: 20vh;
    z-index: 1000;


    @media(max-width:800px){
        font-size: 20px;
    }

    @media (max-width:665px) {
        display: none;
    }
}

#nav-bar.sticky {
    position: fixed;
    top: 0;
  }
